.main_users_component {
    padding: 10px 20px;
}

.sumary_container-table {
    text-transform: uppercase;
}

.form {
    width: 50%;
    margin-bottom: 2em;
    &-header {
        margin-bottom: 2em;
        &__text {
            font-size: 20px;
        }
    }
    mat-form-field {
        display: block;
    }
    &-search-user {
        > mat-form-field {
          margin-right: 20px;  
        }
    }
}

h2 {
    margin-top: 20px;
}

