.global-menu {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    background-color: #f6f7ed;
    position: sticky;
    &__nav {
        &-controll {
            &__menu {
                width: 3vw;
            }
            &-logo {
                height: 48px;
                margin-right: 20px;
            }
        }
    }
}

.sidenav-container {
    height: 100vh;
    background-color: #fff;
    &__element {
        background-color: #172931;
        &-list {
            &__item {
                &-text {
                    display: inline;
                    vertical-align: bottom;
                    align-content: center;
                    margin: auto;
                }
                a {
                    color: #fff;
                    font-size: 25px;
                    border-radius: 20px;
                    width: 100%;
                    text-align: start;
                    &:hover {
                        color: #d4835b;
                    }
                }
            }
        }
    }
}