.main-summary {
    padding: 10px 20px;
}

.summary_container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2em;
    &-type {
        width: 45%;
    }
}

.summary_container-table {
    text-transform: uppercase;
}

.summary-graphs {
    color: white;
    &__group {
        display: flex;
        justify-content: space-around;
    }
}